<!DOCTYPE html>
<html lang="en">
   
    <%-include('./partials/head.ejs')%>
    <body>
        <%-include('./partials/nav.ejs')%>
        <div class="hakkimizda content">
           <h2><%= hakkimizda %></h2>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit corporis voluptate atque maxime blanditiis? Et, id illo molestias illum eius nam necessitatibus veniam eos blanditiis, quas animi, numquam eveniet doloremque!
        </div>
    </body>
    <script src="app.js"></script>
  
</html>