
<nav>
    <div class="site-title">
        <a href="/"><h1>Test</h1></a>
    </div>
    <ul>
    <li><a href="/">Dersler</a></li>
    <li><a href="/hakkimizda">Hakkımda</a></li>
    <li><a href="/ders/ekle">Ders ekle</a></li>    
    </ul>
</nav>
